.create_button{
    background-color: green !important;
}
table{
    margin-top: 200px;
    thead {
        tr {
            td{
                color: blue;
                background-color: white;
            }
        }
        tbody{
            td{
                background-color: blueviolet;
            }
        }
    }
}